<p>Hello <%= @resource.first_name %> <%= @resource.last_name %>,</p>
<p>Someone requested a password reset for your account.</p>
<p><%= link_to 'Reset password',  edit_customer_password_url(@resource, reset_password_token: @token, org_slug: @organisation.slug) %></p>
<p>If you didn't request this, ignore this email.</p>
