<nav class="bo-navbar">
  <div class="bo-navbar-content justify-content-end">
    <div class="d-flex align-items-center gap-3">
      <span class="text-muted">
        <i class="fa-regular fa-building"></i>
        <%= @current_organisation.name %>
      </span>
      <div class="dropdown">
        <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown">
          <i class="fa-regular fa-user me-1"></i>
          <%= current_member.first_name %> <%= current_member.last_name %>
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
          <li>
            <%= link_to destroy_member_session_path, class: "dropdown-item", data: { turbo_method: :delete } do %>
              <i class="fa-solid fa-right-from-bracket me-2"></i>Sign out
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
