<nav class="navbar">
  <%= link_to "nodal", root_path, class: "logo" %>

  <div class="nav-links">
    <%= link_to "Log out", destroy_member_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
  </div>

</nav>
