<nav class="bo-navbar">
  <div class="bo-navbar-content">
    <div class="bo-navbar-search">
      <i class="fa-solid fa-magnifying-glass"></i>
      <input type="text" placeholder="Search..." class="bo-search-input">
    </div>

    <div class="bo-navbar-actions">
      <button class="bo-navbar-icon" title="Notifications">
        <i class="fa-solid fa-bell"></i>
      </button>
      <div class="bo-navbar-user">
        <div class="bo-user-avatar">
          <i class="fa-solid fa-user"></i>
        </div>
        <%= link_to destroy_member_session_path, class: "bo-logout-btn", data: {turbo_method: :delete}, title: "Log out" do %>
          <i class="fa-solid fa-right-from-bracket"></i>
          <span>Log out</span>
        <% end %>
      </div>
    </div>
  </div>
</nav>
