<div class="flash-container">
  <% if notice %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <div class="alert-icon">
        <i class="fa-solid fa-circle-check"></i>
      </div>
      <div class="alert-title">Success</div>
      <div class="alert-message"><%= notice %></div>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>
  <% if alert %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <div class="alert-icon">
        <i class="fa-solid fa-circle-exclamation"></i>
      </div>
      <div class="alert-title">Error</div>
      <div class="alert-message"><%= alert %></div>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>
</div>
