<div class="card dashboard__card" id="order-frequency">
  <div class="card-header">
    <h6 class="mb-0">
      <i class="fa-solid fa-rotate me-2 text-info"></i> Order Frequency
    </h6>
  </div>
  <div class="card-body">
    <div class="frequency">
      <div class="frequency__stats">
        <div class="frequency__stat">
          <span class="frequency__label">Average</span>
          <span class="frequency__value">--</span>
          <span class="frequency__unit">orders/client</span>
        </div>
        <div class="frequency__stat">
          <span class="frequency__label">Mean</span>
          <span class="frequency__mean">--</span>
        </div>
        <div class="frequency__stat">
          <span class="frequency__label">Median</span>
          <span class="frequency__median">--</span>
        </div>
      </div>
      <div class="frequency__chart-wrapper">
        <div class="frequency__chart"></div>
        <div class="frequency__chart-label">Orders per customer distribution</div>
      </div>
    </div>
  </div>
</div>
